<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dta.mapper.TransactionMapper">
    <!-- 修改交易 -->
    <update id="update">
        update transaction
        <set>
            <if test="customerManagerID != null and customerManagerID != ''">
                CustomerManagerID = #{customerManagerID},
            </if>
            <if test="customerName != null and customerName != ''">
                CustomerName = #{customerName},
            </if>
            <if test="transactionDate != null">
                TransactionDate = #{transactionDate},
            </if>
            <if test="productName != null and productName !=''">
                ProductName = #{productName},
            </if>
            <if test="transactionAmount != null and transactionAmount !=''">
                TransactionAmount = #{transactionAmount},
            </if>
            <if test="marketingProgress != null and marketingProgress !=''">
                MarketingProgress = #{marketingProgress},
            </if>
            <if test="customerRating != null and customerRating !=''">
                CustomerRating = #{customerRating},
            </if>
            <if test="createdDate != null">
                CreatedDate = #{createdDate},
            </if>
            <if test="updatedDate != null">
                UpdatedDate = #{updatedDate},
            </if>
        </set>
        where TransactionID = #{transactionID}
    </update>

    <!-- 批量删除交易 -->
    <delete id="delete">
        delete from transaction
        where TransactionID in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 条件查询-->
    <select id="list" resultType="com.dta.pojo.Transaction">
        select *
        from transaction
        <where>
            <if test="customerManagerID != null and customerManagerID !=''">
                CustomerManagerID = #{customerManagerID}
            </if>
        </where>
    </select>

    <!-- 查询客户经理信息 -->
    <select id="findManagerInfo" resultType="com.dta.pojo.Manager">

    </select>
</mapper>